<h2>All Orders List</h2>
<div class="controls-bar">
  <div class="sort-controls">
    <select [(ngModel)]="sortBy" (change)="loadSorted(sortBy, sortDirection)">
      <option value="Date">Date</option>
      <option value="TotalAmount">Order Total</option>
    </select>

    <select [(ngModel)]="sortDirection" (change)="loadSorted(sortBy, sortDirection)">
      <option value="ASC">Ascending</option>
      <option value="DESC">Descending</option>
    </select>
  </div>

  <div class="pagination-controls">
    <button (click)="loadPreviousPage()" [disabled]="pageNumber === 1">Previous</button>
    <span>Page {{ pageNumber }} / {{ totalPages() }}</span>
    <button (click)="loadNextPage()" [disabled]="pageNumber >= totalPages()">Next</button>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Order Date</th>
      <th>Order Total</th>
      <th style="text-align: right;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.customerName }}</td>
      <td>{{ order.orderDate }}</td>
      <td>{{ order.totalAmount }}</td>
      <td style="text-align: right;">
        <button>View Items</button>
      </td>
    </tr>
  </tbody>
</table>
